html {
	/* background: url('chrome-extension:://clhcaoadkilofdbjlhfikenennohpicj/images/criss-cross.png'); */
	background-color: #fbfbfb;
}

h1 {
	text-align: center;
	color: #2b2b2b;
}

p {
	color: #2b2b2b;
	text-align: center;
}

