* {
    margin:0;
    padding:0;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 150px;
    background-color: #293745;
}

hr {
    border: 0;
    margin: 0;
    padding: 0;
    border: 0.5px dashed #49627a;
}

h1 {   
    font-family: 'Montserrat', sans-serif;  
    color: #FDCA7F;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 2px;
}

h6 {
    color: #B8B8B8;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

p {
    color: #F8FAFB;
}

label {
    color: #F8FAFB;
    font-size: 14px;
}

a {
    color: #3BA7D2;
}

div {
    margin-top: 0;
    margin-bottom: 0;
}

#info-div {
    margin-bottom: 10px;
}

#create-limit-div {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

#counters {
    color: #d4d4d4;
    font-size: 14px;
    font-weight: 400;  
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.counter {
    font-size: 20px;
    color: #F8FAFB;
}

.btn-1 {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;  
    padding: 6px 10px;
    background-color: #fe6552;
    color: #fff;
    border: none;
    transition-duration: 0.2s;
    margin-top: 2px;
    margin-bottom: 2px;
  }

.btn-1:hover, .btn-2:hover {
    background-color: #0a7092;
}

.btn-2 {
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;  
    padding: 6px 10px;
    background-color: #3d5a80;
    color: #fff;
    border: none;
    transition-duration: 0.2s;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type=number]{
    text-align: center;
    margin-left: 2px;
    background-color: #f3f3f3;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #293745;
    margin-bottom: 5px;
} 

input[type=number]:focus {
    text-align: center;
}

#release-buttons {
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: space-evenly;
}